@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "_fonts";
//@import "_libs";
@import "_media";
@import "_nullstyle";
@import "_vars";

/*-------- Page Index Start -------*/

/*-------- All Start -------*/
* {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #000000;
}

.body {
  background: linear-gradient(179.39deg, #ffffff 60.71%, #f5f5f5 99.36%);
}

::selection {
  color: #ffffff;
  background-color: #ec0f16;
}

.__container {
  max-width: 1920px;
  margin: 0 76px;
  @media (max-width: 767px) {
    margin: 0 15px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #bdbdbd;
}

::-webkit-scrollbar-thumb {
  background-color: #ec0f16;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.25)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

/*-------- All End -------*/

/*-------- Header Start -------*/
:root {
  --header-bg-color: #ffffff;
  --header-width-container: 1920px;
  --header-font-family: Montserrat;
  --header-bg-color-mobile: #ffffff;
  --header-bg-menu-body-mobile: #ffffff;
  --header-bg-menu-icon-mobile: #000000;
  --header-menu-link-color: #000000;
}

body._lock {
  overflow: hidden;
}

.header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--header-bg-color);
  font-family: var(--header-font-family);
  border-bottom: 1px solid var(--header-bg-color);

  @media (max-width: 767px) {
    border-bottom: 1px solid #e0e0e0;
    position: fixed;
  }

  @media (max-width: 1399px) {
    border-bottom: 1px solid #e0e0e0;
  }
}

.header__container {
  max-width: var(--header-width-container);
  margin: 0 76px;
  display: flex;
  justify-content: flex-start;
  min-height: 100px;
  flex-direction: row;
  @media (max-width: 767px) {
    margin: 0 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 0;
  }
  @media (max-width: 1399px) {
    flex-direction: column;
    padding: 20px 0;
  }
}

.header__block-logo {
  display: flex;
  flex: 0 0 10%;
  justify-content: center;
  @media (max-width: 767px) {
    align-items: center;
    justify-content: space-between;
    flex: 0 0 100%;
  }
  @media (max-width: 1399px) {
    flex: 0 0 100%;
  }
}

.header__block-nav {
  flex: 0 0 90%;
  @media (max-width: 1399px) {
    flex: 0 0 100%;
  }
}

@media (min-width: 768px) {
  .header__search {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__search {
    background-color: unset;
    z-index: 5;
    & svg:hover path {
      fill: #cd1319;
    }
    &._active {
      display: none;
    }
  }
}

.header__logo {
  position: relative;
  z-index: 5;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 1399px) {
    justify-content: center;
  }
  & img {
    pointer-events: none;
  }
}

.header__logo._active {
  display: none;
}
.header__logo-mobile-title {
  display: none;
}
.header__logo-mobile-title._active {
  display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000;
  z-index: 5;
  position: relative;
  top: -22px;
}
.menu__icon {
  display: none;
}

.menu__body {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1399px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.menu__list > li {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0 0 0;
  @media (max-width: 767px) {
    padding: 0 0 0 0;
    text-align: center;
  }
}

.menu__list {
  width: 100%;
  display: grid;
  grid-gap: 24px;
  align-items: center;
  grid-template-areas:
    "menu__list-link-1 menu__list-link-2 menu__list-link-3 menu__list-link-4 menu__list-link-5 menu__list-link-6 menu__list-link-7 menu__list-link-8 menu__list-link-9 menu__list-link-16 menu__list-link-10 menu__list-link-11"
    "menu__list-link-12 menu__list-link-12 menu__list-link-12 menu__list-link-12 menu__list-link-12 menu__list-link-12 menu__list-link-13 menu__list-link-13 menu__list-link-14 menu__list-link-14 menu__list-link-15 menu__list-link-15";
  justify-items: start;
  align-content: space-between;
  @media (max-width: 767px) {
    display: grid;
    grid-gap: 14px;
    grid-template-areas:
      "menu__list-link-10"
      "menu__list-link-11"
      "menu__list-link-1"
      "menu__list-link-2"
      "menu__list-link-3"
      "menu__list-link-4"
      "menu__list-link-5"
      "menu__list-link-6"
      "menu__list-link-7"
      "menu__list-link-8"
      "menu__list-link-16"
      "menu__list-link-14"
      "menu__list-link-15"
      "menu__list-link-13";
    grid-template-rows: repeat(13, 1fr);
    grid-template-columns: 1fr;
    padding: 0 0 24px 0;
  }

  @media (max-width: 991px) {
  }

  @media (max-width: 1199px) {
  }

  @media (max-width: 1399px) {
    grid-template-areas:
      "menu__list-link-1 menu__list-link-2 menu__list-link-3 menu__list-link-4 menu__list-link-5 menu__list-link-16"
      "menu__list-link-6 menu__list-link-7 menu__list-link-8 menu__list-link-9 menu__list-link-10 menu__list-link-11"
      "menu__list-link-12 menu__list-link-12 menu__list-link-12 menu__list-link-12 menu__list-link-12 menu__list-link-12"
      "menu__list-link-13 menu__list-link-13 menu__list-link-14 menu__list-link-14 menu__list-link-15 menu__list-link-15";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(5, 1fr);
    padding: 24px 0;
  }
}

@media (max-width: 1399px) {
  .menu__list-link > .menu__link:hover {
    color: #cd1319;
  }
}

@media (min-width: 1400px) {
  .menu__list-link:hover {
    box-shadow: inset 0 4px 0 0 #ec0f16;
  }
}

.menu__list-link-1,
.menu__list-link-2,
.menu__list-link-3,
.menu__list-link-4,
.menu__list-link-5,
.menu__list-link-6,
.menu__list-link-7,
.menu__list-link-8,
.menu__list-link-10,
.menu__list-link-11,
.menu__list-link-16 {
  @media (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.menu__list-link-1 {
  grid-area: menu__list-link-1;
}

.menu__list-link-2 {
  grid-area: menu__list-link-2;
}

.menu__list-link-3 {
  grid-area: menu__list-link-3;
}

.menu__list-link-4 {
  grid-area: menu__list-link-4;
}

.menu__list-link-5 {
  grid-area: menu__list-link-5;
}

.menu__list-link-6 {
  grid-area: menu__list-link-6;
}

.menu__list-link-7 {
  grid-area: menu__list-link-7;
}

.menu__list-link-8 {
  grid-area: menu__list-link-8;
}

.menu__list-link-9 {
  grid-area: menu__list-link-9;
}

.menu__list-link-10 {
  grid-area: menu__list-link-10;
}

.menu__list-link-11 {
  grid-area: menu__list-link-11;
}

.menu__list-link-12 {
  grid-area: menu__list-link-12;
  text-align: left !important;
}

.menu__list-link-13 {
  display: flex;
  grid-area: menu__list-link-13;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 1399px) {
    justify-content: center;
  }
  @media (max-width: 1700px) {
  }
}

.menu__list-link-14 {
  grid-area: menu__list-link-14;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 1399px) {
    justify-content: center;
  }
}

.menu__list-link-15 {
  display: flex;
  grid-area: menu__list-link-15;
  justify-content: flex-end;
  @media (max-width: 1399px) {
    justify-content: center;
  }
}

.menu__list-link-16 {
  display: flex;
  grid-area: menu__list-link-16;
  justify-content: flex-end;
  @media (max-width: 1399px) {
    justify-content: center;
  }
}

.menu__lang-eng {
  color: #bdbdbd !important;
}

.menu__lang-ru {
  &:active {
    color: #bdbdbd !important;
  }
  &:hover {
    color: #333333;
  }
}

.menu__list-line {
  position: relative;
  display: block;
  top: 10px;
  @media (max-width: 767px) {
    display: none;
  }
}

.menu__line {
  display: block;
  width: 302px;
  background: linear-gradient(90.01deg, #d2d2d2 11.47%, #f5f5f5 20.24%, #e2e2e2 32.9%, #c7c5c5 75.27%, #efeded 93.29%);
  height: 2px;
  @media (max-width: 767px) {
    display: none;
  }
  @media (max-width: 1399px) {
    display: none;
  }
  @media (max-width: 1550px) {
    display: none;
  }
  @media (max-width: 1700px) {
    display: none;
  }
}

.menu__login {
  color: #ec0f16;
  &:hover {
    color: #cd1319;
  }
  @media (max-width: 767px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    &:hover {
      color: #333 !important;
    }
  }
}

.menu__sign-up {
  color: #000;
  &:hover {
    color: #333;
  }
  @media (max-width: 767px) {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    &:hover {
      color: #333 !important;
    }
  }
}

.menu__list-input {
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #000;
  width: 427px !important;
  @media (max-width: 1399px) {
    width: 100% !important;
  }
}

.menu__input {
  position: relative;
  left: 20px;
  top: 15px;
  width: 85%;
  @media (max-width: 1399px) {
    width: 93%;
  }
  &::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #828282;
  }
}
.menu__list-input-search {
  position: absolute;
  bottom: 5px;
  right: 20px;
  background-color: unset;
  & svg:hover path {
    fill: #cd1319;
  }
}

.menu__list-link-tel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__link-tel {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  &:hover {
    color: #cd1319;
    & path {
      fill: #cd1319;
    }
  }
  & svg {
    margin-inline-end: 19px;
  }
}

.menu__button-1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ec0f16;
  border-radius: 5px;
  width: 220px;
  height: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  &:hover {
    background: #cd1319;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 1399px) {
    width: 220px;
  }
  @media (max-width: 1550px) {
    width: 150px;
  }
}
.menu__button-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ec0f16;
  background: #fff;
  border-radius: 5px;
  width: 220px;
  height: 48px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ec0f16;
  &:hover {
    border: 1px solid #cd1319;
    color: #cd1319;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 1399px) {
    width: 220px;
  }
  @media (max-width: 1550px) {
    width: 150px;
  }
}

@media (min-width: 768px) {
  .menu__link {
    height: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  .menu__body {
    display: block;
    flex-wrap: wrap;
    z-index: 2;
  }

  .menu__list-input {
    display: none;
  }

  .header__logo {
    margin-left: 0;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 18px;
    height: 12px;
    cursor: pointer;
  }

  .menu__icon._active {
    z-index: 5;
    display: block;
    position: relative;
    width: 18px;
    height: 12px;
    cursor: pointer;
    top: -22px;
  }

  .menu__icon span,
  .menu__icon::before {
    left: 0;
    position: absolute;
    height: 15%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: var(--header-bg-menu-icon-mobile);
  }

  .menu__icon::after {
    right: 0;
    position: absolute;
    height: 15%;
    width: 50%;
    transition: all 0.3s ease 0s;
    background-color: var(--header-bg-menu-icon-mobile);
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon span {
    top: 60%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon::after {
    top: 100%;
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, 0%);
  }

  .menu__icon._active::after {
    top: 50%;
    width: 100%;
    transform: rotate(45deg) translate(0, 0%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--header-bg-menu-body-mobile);
    padding: 70px 15px 0 15px;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    border-bottom: 1px solid #e0e0e0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    background-color: var(--header-bg-color-mobile);
    z-index: 2;
  }

  .menu__link {
    font-size: 28px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    &:hover {
      color: #cd1319;
    }
  }
}
/*-------- Header End -------*/

.main {
  margin-top: 76px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  grid-template-areas: "main__text main__bg";
  @media (max-width: 320px) {
    margin-top: 135px;
  }

  @media (max-width: 575px) {
    margin-top: 135px;
  }

  @media (max-width: 767px) {
    margin-top: 80px;
  }
  @media (max-width: 991px) {
    display: grid;
    grid-template-areas:
      "main__text"
      "main__bg";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

.main__text {
  grid-area: main__text;
}

.main__subtitle {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  &::after {
    width: 57px;
    content: "";
    height: 1px;
    background-color: #ec0f16;
    display: block;
    margin-top: 18px;

    @media (max-width: 767px) {
      width: 30px;
    }
  }
  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 18px;
  }
}

.main__title {
  margin-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 84px;
  color: #000000;
  text-transform: uppercase;

  @media (max-width: 575px) {
    text-align: left;
    font-size: 21px;
  }
  @media (max-width: 767px) {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000;
  }
  @media (max-width: 991px) {
    text-align: center;
  }
  @media (max-width: 1199px) {
    font-size: 35px;
    line-height: 55px;
  }

  @media (max-width: 1399px) {
    font-size: 40px;
    line-height: 60px;
  }
}
.main__bg {
  grid-area: main__bg;

  & img {
    pointer-events: none;
    width: 100%;
  }
}

.category {
  margin-top: 57.5px;
  padding-bottom: 201px;
  display: grid;
  justify-items: center;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-template-areas: "category__item_1 category__item_2 category__item_3 category__item_4";
  @media (max-width: 991px) {
    display: grid;
    grid-template-areas:
      "category__item_1 category__item_2"
      "category__item_3 category__item_4";
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 767px) {
    margin-top: 5px;
    padding-bottom: 54px;
    display: grid;
    grid-gap: 12px;
    grid-template-areas:
      "category__item_1"
      "category__item_2"
      "category__item_3"
      "category__item_4";
    grid-template-columns: 1fr;
  }
}

.category__item_1 {
  grid-area: category__item_1;
}

.category__item_2 {
  grid-area: category__item_2;
}

.category__item_3 {
  grid-area: category__item_3;
}

.category__item_4 {
  grid-area: category__item_4;
}

.category__button {
  display: block;
  position: relative;
  max-width: 427px;
  & > .category__title {
    color: #fff;
    &:hover {
      color: #cd1319;
    }
  }
}
.category__bg-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #0a0909;
  opacity: 0.72;
  border-radius: 5px;
}

.category__img {
  width: 100%;
  transform: scale(1);
  &:hover {
    transform: scale(2);
  }
}

.category__title {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  align-items: center;

  @media (max-width: 767px) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50%;
    z-index: 1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #fff;
    padding-left: 14px;
    &::before {
      margin-inline-end: 35%;
    }
  }

  &::before {
    width: 24px;
    height: 1px;
    content: "";
    background: #ec0f16;
    display: inline-block;
    margin-inline-end: 14px;
  }
}

/*-------- Page Index End -------*/
