@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "_fonts";
//@import "_libs";
@import "_media";
@import "_nullstyle";
@import "_vars";

@import "../css/_root";

@import "../css/_style_header";

/*-------- index Start -------*/
/*-------- index End -------*/

/*-------- Page Index Start -------*/
/*-------- All Start -------*/
* {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #000000;
}
/*-------- All End -------*/

/*-------- Header Start -------*/
.__container {
  max-width: 1920px;
  margin: 0 76px;
  @media (max-width: 767px) {
    margin: 0 15px;
  }
}

body {
  background: linear-gradient(179.39deg, #ffffff 60.71%, #f5f5f5 99.36%);
}
.menu__line {
  display: block;
  width: 302px;
  background: linear-gradient(90.01deg, #d2d2d2 11.47%, #f5f5f5 20.24%, #e2e2e2 32.9%, #c7c5c5 75.27%, #efeded 93.29%);
  height: 2px;
  @media (max-width: 767px) {
    display: none;
  }
}

.menu__list_2 {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.menu__list-link-tel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__link-tel {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.menu__list-tel-img {
  margin-right: 18px;
}

p {
  margin-bottom: 0;
}
ol,
ul {
  padding-left: 0rem;
}
.menu__button-1 {
  @media (max-width: 767px) {
    margin-top: 15px;
    width: 100%;
  }
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #ec0f16;
  border-radius: 5px;
  width: 220px;
  height: 48px;
  &:hover {
    background: #cd1319;
  }
  & > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #fff;
  }
}
.menu__list-button {
  display: flex;
  column-gap: 24px;
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.menu__tel {
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    order: 1;
  }
}
.menu__button-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ec0f16;
  background: #fff;
  border-radius: 5px;
  width: 220px;
  height: 48px;

  & > p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ec0f16;
    &:hover {
      color: #cd1319;
    }
  }
  @media (max-width: 767px) {
    margin-top: 15px;
    width: 100%;
  }
}
.menu__input {
}
.menu__list-line {
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    display: none;
  }
}
.menu__list-input {
  position: relative;
  width: 427px;
  padding: 15px 20px;
  border-bottom: 1px solid #000000;
}
.menu__list-input-search {
  position: absolute;
  top: 12px;
  right: 20px;
}

.menu__list-22 {
  margin-top: 45px;
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;

  @media (max-width: 767px) {
    margin-top: 45px;
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
  }
}
/*-------- Header End -------*/

.main {
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
}
.main__text {
}
.main__subtitle {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  &::after {
    width: 57px;
    content: "";
    height: 1px;
    background-color: #ec0f16;
    display: block;
    margin-top: 18px;
  }
}
.main__title {
  margin-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 84px;
  color: #000000;
  text-transform: uppercase;
  @media (max-width: 767px) {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #000;
  }
}
.main__bg {
  & img {
    width: 100%;
  }
}
.category {
  margin-top: 57.5px;
}
.category__title {
  display: flex;
  position: absolute;
  top: 48px;
  left: 193px;
  z-index: 1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #fff;
  align-items: center;

  @media (max-width: 767px) {
    display: flex;
    position: absolute;
    top: 40%;
    left: 30%;
    z-index: 1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #fff;
    align-items: center;
  }

  &::before {
    width: 24px;
    height: 1px;
    content: "";
    background: #ec0f16;
    margin-inline-end: 22px;
    display: inline-block;
  }
}
.category__button {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 15px;
}
.category__item_1 {
}
.category__item_2 {
}
.category__item_3 {
}
.category__item_4 {
}

/*-------- Page Index End -------*/
