@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "_fonts";
//@import "_libs";
@import "_media";
@import "_nullstyle";
@import "_vars";

//@import "../css/_nullstyle";
//@import "../css/_root";

//@import "../css/_style_header";

//@import "../css/_style_footer";

/*-------- index Start -------*/
//@import "../css/_slider_home";
//@import "../css/style";
/*-------- index End -------*/

/*-------- Page Index Start -------*/
/*-------- All Start -------*/
* {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  color: #000000;
}
/*-------- All End -------*/

/*-------- Header Start -------*/
.__container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 76px;
}
/*-------- Header End -------*/

.main {
  margin-top: 76px;
}
.main__text {
}
.main__subtitle {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  &::after {
    width: 57px;
    content: "";
    height: 1px;
    background-color: #EC0F16;
    display: block;
    margin-top: 18px;
  }
}
.main__title {
  margin-top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 84px;
  color: #000000;
  text-transform: uppercase;
}
.main__bg {
  width: 100%;
}
.category {
}
.category__item_1 {
}
.category__item_2 {
}
.category__item_3 {
}
.category__item_4 {
}

/*-------- Page Index End -------*/
