:root {
    --header-bg-color: #ffffff;
    --header-width-container: 1920px;
    --header-font-family: Montserrat;
    --header-bg-color-mobile: #ffffff;
    --header-bg-menu-body-mobile: #ffffff;
    --header-bg-menu-icon-mobile: #000000;
    --header-menu-link-color: #000000;
    --header-menu-sub-link-color: #000000;
    --header-menu-button-bg-color: #5b6460;
    --header-menu-button-color: #ffffff;
    --header-menu-button-color-hover: #808e88;
    --header-menu-button-color-active: #79857f;
    --header-menu-arrow-color: #000000;

}